<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            padding: 20px;
        }
        a {
            padding: 10px;
            text-decoration: none;
            background-color: blue;
            color: white;
            font-size: 16px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <a href="/register">Add User</a>
    <a href="/users">View Users</a>
    <% if(loggedIn){ %>
        <span>hello <%= firstName %></span>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
    <% } %>
    
</body>
</html>