<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="first name" name="firstName" required><br>
        <input type="text" placeholder="last name" name="lastName" required><br>
        <input type="file" name="profile" id="">
        <input type="submit" value="Register">
    </form>
</body>
</html>